div.slicer-wrapper {
  width: 90%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

div.slicer-canvas-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: scroll;
}

div.slicer-canvas-inner-wrapper {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

div.slicer-canvas-inner-wrapper>* {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

div.slicer-controls-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5em;
  justify-content: space-between;
  align-items: center;
}

div.slicer-controls-wrapper>div {
  display: flex;
  flex-direction: row;
  gap: 1em;

}