div.joiner-editor-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
  width: min(90%, 40em);
}

div.joiner-editor-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

div.joiner-editor-textbox-wrapper {
  width: 100%;
}

div.joiner-editor-wrapper textarea {
  height: 100%;
  width: 100%;
}