div.joiner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 90%;
  padding: 2em;
}

div.joiner-wrapper>p {
  width: 75%;
  text-align: justify;
}

div.joiner-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: min(90%, 40em);
  height: 10em;
}

div.joiner-input-wrapper>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

div.joiner-input-wrapper>div.inline-label-input-wrapper {
  height: 100%;
  width: 100%;
}

div.joiner-input-wrapper textarea {
  height: 100%;
  width: 100%;
}

div.joiner-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
}