:root {
  --clr-black: #131B23;
  --clr-white: #E9F1F7;
  
  --clr-accent-b: #92C892;
  --clr-accent-b-dark: #52A352;

  --clr-accent-a: #d4bca5;
  --clr-accent-a-dark: #7A4300;

  --clr-warning: orange;

  --font-main: 'Roboto', sans-serif;
  --font-button: 'Bebas Neue', cursive;
  --font-h: 'Macondo', cursive;
}