:root {
  --clr-black: #0D0A0B;
  --clr-white: #F3EFF5;

  --clr-accent-a: #DDBCA6;
  --clr-accent-b: #8E7DBE;

  --clr-warning: #dd9933;

  --font-main: 'Roboto', sans-serif;
  --font-button: 'Bebas Neue', cursive;
  --font-h: 'Macondo', cursive;
}