div#slicer-image-wrapper {
  width: var(--canvas-width);
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-color: var(--clr-black);
  border-width: 1px;
}

canvas.slicer-image-canvas {
  background-color: var(--clr-white);
  z-index: 1;
  height: var(--canvas-height);
}