:root {
  --opac-slicer-selector: 0.3;
}

div#slicer-selector-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: var(--canvas-width);
  cursor: text;
  z-index: 2;
  height: 100%;
}

div#slicer-selector-div {
  opacity: 0.3;
  background-color: var(--clr-accent-b);

  position:absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}