div.file-generator-wrapper {
  margin: 0 auto;
}

div.file-generator-wrapper>a {
  font-size: 1.8rem;
  padding: 0 0.2em;
  border-width: 0 0 3px 0;
  border-style: solid;

  font-family: var(--font-button);
}