div.welcome-example-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
}

div.welcome-example-wrapper>div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 40%;
}

div.welcome-example-wrapper img {
  width: 100%
}

@media (max-width: 980px) {
  div.welcome-example-wrapper {
    flex-direction: column;
  }

  div.welcome-example-wrapper>div {
    width: 400px;
  }
}