div.file-generator-wrapper {
  margin: 0 auto;
}

div.file-generator-wrapper>a {
  font-size: 1.8rem;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border-width: 0 0 3px 0;
  border-style: solid;
  color: var(--clr-accent-a);
}

div.file-generator-wrapper>a:hover, div.file-generator-wrapper>a:focus {
  color: var(--clr-accent-b);
}